
@font-face {
  font-family: 'lato';
  src: local('Lato-Regular'), url('./fonts/Lato-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: 'lato'
}

.header {
  height: 100vh;
  background-image: url("../public/snow1.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 100px;
}

.header {
  color: white;
  text-align: center;
}

.head-wrapper {
  background: rgba(56, 56, 56, 0.616);
  align-self: center;
  padding: 10px 40px;

}

.header h1 {
  font-size: 48px;
  margin-top: 15px;
}

.header h3 {
  font-size: 20px;
}

.intro {
  min-height: 400px;
  width: auto;
  background: rgb(54, 54, 61);
  padding: 50px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 18px;
  flex: auto;
}

.intro h2 {
  margin: 0;
  font-size: 40px;
}

.resume {
  width: 120px;
  padding: 10px 20px;
  align-self: center;
  font-family: inherit;
  margin-top: 10px;
}


.intro h3 {
  margin: 50px 0 30px;
  padding-top: 50px;
  border-top: 1px solid rgb(119, 119, 119);
  width: 70%;
  align-self: center;
}

.intro img {
  width: auto;
  height: 40px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 220px;
}

.email, .linked-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60px;
  white-space: nowrap;
}

.email div {
  display: flex;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: orange;
  width: min-content;
  align-self: center;
}

.link:hover {
  color:grey;
}

.resume-button {
  background: rgb(255, 202, 103);
  width: 120px;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 30px;
  color: black;
  align-self: center;
  text-decoration: none;
}

.resume-button:hover {
  background: rgb(150, 118, 59);
}
